<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<div th:fragment="form">
    <form th:action="@{/forms}" th:object="${item}" method="post" id="hx-form">
        <div>
            <label for="name">Name</label>
            <input th:id="name" th:field="*{name}" type="text"
                   hx-trigger="keyup changed delay:200ms"
                   hx-post="/forms"
                   hx-include="closest form"
                   hx-target="#hx-form"
                   hx-swap="morph"
            >
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"/>
        </div>

        <div>
            <label for="field">Field</label>
            <input th:id="field" th:field="*{field}" type="text"
                   hx-trigger="keyup changed delay:200ms"
                   hx-post="/forms"
                   hx-include="closest form"
                   hx-target="#hx-form"
                   hx-swap="morph"
            >
            <p th:if="${#fields.hasErrors('field')}" th:errorclass="error" th:errors="*{field}"/>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
</html>>