<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body>

<h1>HTMX and Java(land)</h1>

<h2>Intro</h2>

<a href="https://atomfrede.github.io/slides-howl-at-the-moon/#/" target="_blank">Slides</a>

<h2>Todo MVC</h2>

<a href="/todo-mvc">Todo MVC</a>

<h2>Paging, Sorting & Forms</h2>

<ul>
    <li><a href="/paging?sort=name,desc">Paging</a></li>
    <li><a href="/forms">Forms</a></li>
    <li><a href="/endless-scrolling?sort=name,desc">Endless Scrolling</a></li>
</ul>


<h2>Server Send Events</h2>

<ul>
    <li><a href="/server-send-events">Server Send Events</a></li>
</ul>

<h2>View Components</h2>

<ul>
    <li><a href="/view-components">HTMX interaction in components</a></li>
</ul>

<footer>
    <ul>
        <li><a href="https://github.com/atomfrede/htmx-and-java-land" target="_blank">Quellcode</a></li>
        <li><a href="https://mastodon.social/@atomfrede">@atomfrede@mastodon.social</a></li>
    </ul>
</footer>

<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

</body>
</html>