<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div
        th:fragment="tableContent"
>
    <div>
        <table hx-target="#table-wrapper" hx-push-url="true">
            <thead>
            <tr>
                <th
                        th:with="_sort=${page.sort}"
                >
                    <div
                            th:if="${_sort.getOrderFor('name') != null &&
            _sort.getOrderFor('name').direction.toString() == 'DESC'}"
                            hx:get="@{/paging?sort=name,asc&size={pageSize}&page={pageNumber}(pageSize=${page.size},pageNumber=${page.number})}"
                    >
                        <p>Name (V)</p>
                    </div>
                    <div
                            th:if="${_sort.getOrderFor('name') != null &&
            _sort.getOrderFor('name').direction.toString() == 'ASC'}"
                            hx:get="@{/paging?sort=name,desc&size={pageSize}&page={pageNumber}(pageSize=${page.size},pageNumber=${page.number})}"
                    >
                        <p>Name (^)</p>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <div th:if="${#lists.size(page.content) > 0}">
                <tr th:each="item : ${page.content}">
                    <td th:text="${item.name}"></td>
                </tr>
            </div>
            </tbody>


        </table>

        <nav
                hx-target="#table-wrapper" hx-push-url="true"
                aria-label="Pagination"
        >
            <div th:if="${page.hasPrevious()}">
                <a hx:get="@{/paging?sort={sort}&size={pageSize}&page={pageNumber}(sort=${#strings.replace(page.sort,': ',',')}, pageSize=${page.size}, pageNumber=${page.number - 1})}"
                   hx-push-url="true"
                   class="active-prev"
                >
                    PREV
                </a>
            </div>
            <div th:unless="${page.hasPrevious()}">
                <a>PREV</a>
            </div>

            <a
                    th:if="${page.number + 1 - pager.buttonsToShow >= 1}"
                    hx:get="@{/paging?sort={sort}&size={pageSize}&page={newPageNumber}(sort=${#strings.replace(page.sort,': ',',')}, pageSize=${page.size}, newPageNumber=${page.number - pager.buttonsToShow})}"
            >
                ...
            </a>
            <a
                    th:each="pagenum : ${#numbers.sequence(pager.startPage, pager.endPage)}"
                    hx:get="@{/paging?sort={sort}&size={pageSize}&page={newPageNumber}(sort=${#strings.replace(page.sort,': ',',')}, pageSize=${page.size}, newPageNumber=${page.number - 1})}"
                    th:text="${pagenum}"
            >
                1
            </a>
            <a
                    th:if="${(page.number + 1) + pager.buttonsToShow <= page.getTotalPages()}"
                    hx:get="@{/paging?sort={sort}&size={pageSize}&page={newPageNumber}(sort=${#strings.replace(page.sort,': ',',')}, pageSize=${page.size}, newPageNumber=${page.number + pager.buttonsToShow})}"
            >
                ...
            </a>


            <div th:if="${page.hasNext()}">
                <a hx:get="@{/paging?sort={sort}&size={pageSize}&page={newPageNumber}(sort=${#strings.replace(page.sort,': ',',')}, pageSize=${page.size}, newPageNumber=${page.number + 1})}"
                   class="active-next"
                >
                    NEXT
                </a>
            </div>
            <div th:unless="${page.hasNext()}">
                <a>NEXT</a>
            </div>

        </nav>
    </div>

</div>
</html>